body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #572931;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    gap: 30px;
}


